ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #00E572;
}

.header{
  width: 100%;
}

.one-table{
  max-width:100%;
}



@media (max-width: 400px) {
  .btn-responsive {
    padding: 0.5px 1px;
    font-size: 60%;
    line-height: 1;
    border-radius:3px;

  }
}

@media (min-width: 400px) and (max-width: 768px) {
  .btn-responsive {
    padding: 0.5px 1px;
    font-size: 65%;
    line-height: 1;
    border-radius:3px;

  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .btn-responsive {
    padding:4px 9px;
    font-size:90%;
    line-height: 1.2;

  }
}
